/* Add a CSS reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
	#root {
		padding: 1rem; /* Adjust padding for smaller screens */
	}
}

/* Ensure the body covers the full height */
body {
	min-height: 100vh; /* Ensure body takes full height */
	display: flex;
	flex-direction: column;
}
